{% extends 'courses/base/dashboard_base.html' %}
{% load course_custom_tags %}

{% load crispy_forms_tags %}

{%block title%}Dashboard{%endblock%}


{% block content %}
<style>
  #id_email{
    max-width: 300px !important;
    width: 100% !important;
  }
</style>
<!-- id="id_password_change_form" -->

<section class="container-fluid mt-5 vh-100  ">
  <div class="row ">
    <div class="col-lg-3">

    </div>
    <!-- start of form card -->
    <div class="col-lg-5 ">
      <div class="card py-3 " style="max-width: 800px; width: 100%">
        <div class="card-title mb-3 fw-bold text-center"> Reset Password</div>
        {% include 'messages/message.html' %}   
        <div class="card-body mt-1">
          <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
          <form action="{% url 'password_reset' %}" method="POST" class="form-signin">{% csrf_token %}
            
            <!-- Email input -->
              <div class="form-outline mb-4">

                <input type="email" name="email" id="id_email" class="form-control fs-6 form-control-sm"
                  placeholder="Enter a valid email address" />
              </div>
          
            <button class="btn btn-sm btn-primary btn-block my-3" type="submit">Send email</button>  
          
          </form>
        </div>
      </div>
    </div>
    <!-- end of form card -->
    <div class="col-lg-3">

    </div>
  </div>

</section>


{% endblock %}

