<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
  <style>
    .share-button-style{
      position: fixed; 
      cursor: pointer; 
      z-index: 100; 
      top: 12% !important; 
      left: -5px !important; 
      transition: 6s all !important; 
      transition-delay: 1s !important;
    }

  </style>
  {% load social_share %}
    <div class="col-lg-12">
      <button id="show-share" class="border share-button-style border-0 bg-transparent mb-3 ms-1 d-none">
        <i style="font-size: 23px !important;" class="fa fa-share-alt"></i>
      </button>
      <!-- Close  -->
      <button id="close-share" class="border share-button-style border-0 bg-transparent mb-3 ms-3 d-none">
        <i style="font-size: 23px !important;" class="fa fa-window-close"></i>
      </button>
      
      <!-- Social -->
      <ul id="social-share" style="position: fixed; z-index: 1000; top: 15% !important; left: -5px !important" class="list-group border border-0 d-none">      
        <li class="list-group-item ps-2 pe-0 border-0">{% post_to_linkedin object_or_url %} </li>
        <li style="z-index: 2000 ;" class="list-group-item ps-2 pe-0 border border-0">  {% post_to_facebook object_or_url %}</li>
        <li style="z-index: 1000 ;" class="list-group-item ps-2 pe-0 bg-transparent border border-0">{% post_to_gplus object_or_url %} </li>
        <li class="list-group-item ps-2 pe-0 bg-transparent border border-0">{% post_to_reddit "{{object.title}}" object_or_url %} </li>
        <li class="list-group-item ps-2 pe-0 bg-transparent border border-0">{% post_to_telegram "Title: {{object.title}}" object_or_url %} </li>
        <li class="list-group-item ps-2 pe-0 bg-transparent border border-0"> {% post_to_twitter "Title: {{object.title}}. Check it out!" object_or_url %}</li>
        <li class="list-group-item ps-2 pe-0 bg-transparent border border-0"> {% post_to_whatsapp object_or_url %}</li>
      </ul>                                   
        
    </div>

    <script>
            //SCROLL TOP FUCNTION
      const scrollShowShare  = document.getElementById('show-share');
      const scrollCloseShare = document.getElementById('close-share');
      const socialVar = document.getElementById('social-share')
      console.log(socialVar)
      // Show
      scrollShowShare.addEventListener('click', scrollUpShowShare);
      // Show
      scrollCloseShare.addEventListener('click', scrollUpCloseShare);

      // When the user scrolls down 20px from the top of the document, show the button
      // for scrolling down
      window.onscroll = function scrollUpShowShare() {
        if (window.pageYOffset > 400 || document.documentElement.scrollTop > 400 || document.body.scrollTop > 400) {
          scrollShowShare.classList.remove('d-none');
          // close
          scrollCloseShare.classList.remove('d-block');
          scrollCloseShare.classList.add('d-none');
          // Social Content
          socialVar.classList.remove('d-block')
          socialVar.classList.add('d-none')
          
        } else {
          scrollShowShare.classList.add('d-block');
          scrollShowShare.classList.remove('d-block');
          scrollShowShare.classList.add('d-none');
          
        }
        
      };


      // Show
      function scrollUpShowShare(){
        
        socialVar.classList.remove('d-none');
        socialVar.classList.add('d-block');
        scrollShowShare.classList.add('d-none');
        scrollCloseShare.classList.remove('d-none');
        scrollCloseShare.classList.add('d-block')  
      }


      // Close Social Share

      function scrollUpCloseShare(){
          
        socialVar.classList.remove('d-block');
        socialVar.classList.add('d-none');  
        scrollCloseShare.classList.remove('d-block');
        scrollCloseShare.classList.add('d-none');
        scrollShowShare.classList.remove('d-none');
        scrollShowShare.classList.add('d-block');
        socialVar.classList.add('d-none');
      };


    </script>
</body>
</html>