{% extends 'courses/base/dashboard_base.html' %}
{% load course_custom_tags %}

{%block title%}Dashboard{%endblock%}

{%block content%}

<!-- Start of Delete Account form -->
<div class="wrapper my-5">
  <div class="row">
    <!-- Start of first column -->
    <div style="background-color: #f8f9fa;" class="col-lg-2">
      {%if request.user.is_author%}
        {%include 'courses/dashboard/author-dashboard/author_nav.html'%}
      {%elif request.user.is_admin%}
        {%include 'courses/dashboard/admin-dashboard/admin_nav.html'%}
      {%else%}

      {%endif%}
    </div>
    <!-- End of first column -->
    <!-- Start of second column -->
    <div class="col-lg-10 mt-5">
      <div class="card ms-lg-5" style="max-width: 500px; width:100%">
        <div class="card-body ms-lg-5">
          <form class="ms-lg-5" method="POST">{% csrf_token %}
            <p>Are you sure you want to delete the account "{{ user.username }}"?</p>
              {{ form }}
            <b class="btn btn-sm btn-danger"><a class="text-decoration-none text-white" href="{%url 'confirm_delete'%}">Confirm</a></b>
            <a class="btn btn-sm m-2 btn-secondary text-decoration-none text-white" href="{%url 'account_settings' user.id %}">Cancel</a>
          </form>

        </div>
      </div>
    </div>
    <!-- End of Second Column -->

  </div>
  

</div>
<!-- End of Delete Account Form -->



{% endblock%}