{% extends 'courses/base/dashboard_base.html' %}
{% load course_custom_tags %}

{%block title%}Dashboard{%endblock%}

{%block content%}

<style>
  .social-form-control{
    max-width: 300px !important;
    width: 100% !important;
  }
</style>

<!-- Start of Delete Account form -->
<div class="wrapper">
  <div class="row">
    <!-- Start of first column -->
    <div style="background-color: #f8f9fa;" class="col-lg-2">
      {%if request.user.is_author%}
        {%include 'courses/dashboard/author-dashboard/author_nav.html'%}
      {%elif request.user.is_admin%}
        {%include 'courses/dashboard/admin-dashboard/admin_nav.html'%}
      {%else%}
      {%endif%}
    </div>
    <!-- End of first column -->
    <!-- Start of second column -->
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <h6 class="text-center fw-bold">Edit Account</h6>
        </div>
        <div class="card-body">
          <form action="{% url 'edit_account' user.id%}" method="POST" enctype="multipart/form-data">{% csrf_token %}

            <!-- Start of Messages -->
              {% include 'messages/message.html' %} 
            <!-- End of Messages -->

            <!-- Start First name -->
            <div class="form-outline mb-4"> 

              <label for="first_name" class="fs-6 fw-bold ms-2">First Name:</label>
              <div class="social-form-control form-control-sm fs-6">{{form.first_name}}</div>
            </div>
             <!-- End First name -->

             <!-- Start Last name -->
            <div class="form-outline mb-4"> 

              <label for="last_name" class="fs-6 fw-bold ms-2">Last Name:</label>
              <div class="social-form-control form-control-sm fs-6">{{form.last_name}}</div>
            </div>
             <!-- End Last name -->


            <!-- Start username -->
            <div class="form-outline mb-4"> 

              <label for="username" class="fs-6 fw-bold ms-2">Username:</label>
              <div class="social-form-control form-control-sm fs-6">{{form.username}}</div>
            </div>
             <!-- End username -->

            <!-- Start profile_image -->
            <div class="form-outline mb-4"> 

              <label for="profile_image" class="fs-6 fw-bold ms-2">Profile Image:</label>
              <div class="form-control-sm fs-6">{{form.profile_image}}</div>
            </div>
             <!-- End Profile_Image -->
           
             <button class="btn btn-sm btn-secondary fw-bolder">Update</button>

          </form>
          

        </div>        
      </div>
    </div>
    <!-- End of Second column -->
  </div>
  

</div>
<!-- End of Delete Account Form -->



{% endblock%}