{% extends 'courses/base/dashboard_base.html' %}
{% load course_custom_tags %}

{%block title%}{{request.user.get_full_name}}{%endblock%}

{%block content%}

<style>
  .social-form-control{
    max-width: 300px !important;
    width: 100% !important;
  }
</style>

<!-- Start of Delete Account form -->
<div class="wrapper">
  <div class="row">
    <!-- Start of first column -->
    <div style="background-color: #f8f9fa;" class="col-lg-2">
      {%if request.user.is_author%}
        {%include 'courses/dashboard/author-dashboard/author_nav.html'%}
      {%elif request.user.is_admin%}
        {%include 'courses/dashboard/admin-dashboard/admin_nav.html'%}
      {%else%}
      {%endif%}
    </div>
    <!-- End of first column -->
    <!-- Start of Second column -->
    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <form action="{% url 'edit_profile' pk=profile.id %}" method="post">{% csrf_token %}
            <div class="form-outline mb-4"> 

           
            <div class="form-outline mb-4">  
                                   
              {{ form.as_p }}   
              {{ form.media }}            
              
            </div>
          
          
            <button class="btn btn-sm btn-primary" type="submit">Update</button>
          </form>

        </div>
      </div>
    </div>
    <!-- End of second column -->
  </div>
  

</div>
<!-- End of Delete Account Form -->
<br>
<br>



{% endblock%}