{% extends 'courses/base/dashboard_base.html' %}
{% load course_custom_tags %}

{% load crispy_forms_tags %}

{%block title%}Change|Password{%endblock%}


{% block content %}
<style>
  #id_old_password, #id_new_password1, #id_new_password2{
    max-width: 300px !important;
    width: 100% !important;
  }
</style>
<!-- id="id_password_change_form" -->

<div class="wrapper mt-5 ">
  <div class="row ">
    <!-- Start of first column -->
    <div style="background-color: #f8f9fa;" class="col-lg-2">
      {%if request.user.is_author%}
        {%include 'courses/dashboard/author-dashboard/author_nav.html'%}
      {%elif request.user.is_admin%}
        {%include 'courses/dashboard/admin-dashboard/admin_nav.html'%}
      {%else%}
      {%endif%}
    </div>
    <!-- End of first column -->
    <!-- Start of seocond column -->
    <!-- start of form card -->
    <div class="col-lg-10 mt-5">
      <div class="card py-3 " style="max-width: 800px; width: 100%">
        <div class="card-title mb-3 fw-bold text-center"> Change Password</div>
        <!-- Start of Messages -->
        {% include 'messages/message.html' %} 
        <!-- End of Messages --> 
        <div class=" mx-lg-5 px-lg-5 mt-4">
           
          <form action="" method="POST" class="form-signin">{% csrf_token %}
            <!-- Old Password -->
            <div class="form-outline mb-4 me-auto">
              <input type="password" id="id_old_password" name="old_password" class="form-control form-content-input mb-4 fs-6 form-control-sm"
                placeholder="Enter Old Password" />
            </div>
            <!-- End of Old Password -->


            <!-- New Password -->
            <div class="form-outline mb-4">

              <input type="password" id="id_new_password1" name="new_password1" class="form-control form-content-input mb-4 fs-6 form-control-sm"
                  placeholder="Enter New Password" />
            </div>
            <!-- End of New Password -->

            <!-- Confirm New Password -->
            <div class="form-outline mb-4">

                <input type="password" id="id_new_password2" name="new_password2" class="form-control form-content-input mb-4 fs-6 form-control-sm"
                  placeholder="Confirm New Password" />
                  
            </div>
            <!-- End of Confirm New Password -->
            <div class="form-outline mt-3">
              <button class=" btn btn-sm btn-primary my-1" type="submit">Change Password</button>  
             </div>
            
            
          
          </form>
        </div>
      </div>
    </div>
    <!-- end of form card -->   
    <!-- end of second form -->
  </div>

</div>


{% endblock %}

