{% extends 'courses/base/dashboard_base.html' %}
{% load course_custom_tags %}

{% load crispy_forms_tags %}

{%block title%}Change|Password{%endblock%}


{% block content %}
<style>
  #id_old_password, #id_new_password1, #id_new_password2{
    max-width: 300px !important;
    width: 100% !important;
  }
</style>
<!-- id="id_password_change_form" -->

<section class="container-fluid mt-5 vh-100  ">
  <div class="row ">
    <div class="col-lg-3">

    </div>
    <!-- start of form card -->
    <div class="col-lg-5 ">
      <div class="card py-3 " style="max-width: 800px; width: 100%">
        <div class="card-title mb-3 fw-bold text-center"> Change Password</div>
        <!-- Start of Messages -->
        {% include 'messages/message.html' %} 
        <!-- End of Messages --> 
        <div class="card-body mt-1">
           
          <form action="" method="POST" class="form-signin">{% csrf_token %}
            <!-- Old Password -->
              <div class="form-outline mb-4">

                <input type="password" id="id_old_password" name="old_password" class="form-control fs-6 form-control-sm"
                  placeholder="Enter Old Password" />
              </div>
            <!-- End of Old Password -->


            <!-- New Password -->
            <div class="form-outline mb-4">
               

                <input type="password" id="id_new_password1" name="new_password1" class="form-control fs-6 form-control-sm"
                  placeholder="Enter New Password" />
            </div>
            <!-- End of New Password -->

            <!-- Confirm New Password -->
            <div class="form-outline mb-4">

                <input type="password" id="id_new_password2" name="new_password2" class="form-control fs-6 form-control-sm"
                  placeholder="Confirm New Password" />
            </div>
            <!-- End of Confirm New Password -->
            
            
              <button class="btn btn-sm btn-primary btn-block my-3" type="submit">Change Password</button>  
          
          </form>
        </div>
      </div>
    </div>
    <!-- end of form card -->
    <div class="col-lg-3">

    </div>
  </div>

</section>


{% endblock %}

