{% extends 'courses/base/dashboard_base.html' %}
{% load course_custom_tags %}
  <!--Title-->
{%block title%}Change|Success{%endblock%}

            

{%block content%}




<section class="container-fluid vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <p class=" p-2">Your password is successfully changed - {{user.username}} <i class="text-success fa-solid fa-circle-check"></i></p>
        <a class="btn btn-sm btn-primary" href="{%url 'profile' user.username %}">View Profile</a>
    </div>
  </div>
  
</section>


 

 
{% endblock%}