{% extends 'courses/base/dashboard_base.html' %}
{% load course_custom_tags %}

{%block title%}Dashboard{%endblock%}

{%block content%}


<!-- Start of Delete Account form -->
<div class="wrapper">
  <div class="row">
    <!-- Start of first column -->
    <div style="background-color: #f8f9fa;" class="col-lg-2">
      {%if request.user.is_author%}
        {%include 'courses/dashboard/author-dashboard/author_nav.html'%}
      {%elif request.user.is_admin%}
        {%include 'courses/dashboard/admin-dashboard/admin_nav.html'%}
      {%else%}
      
      {%endif%}
    </div>
    <!-- End of first column -->
    <!-- Start of second column -->
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="card-header mb-4">
              <h6 class="text-center fw-bolder">Settings</h6>
            </div>
            <!-- Start of Image -->
            <div class="col-lg-4">
              <div class="card p-2" style="max-width: 200px; width: 100%;">
                <div class="card-header"></div>
                <div class="card-body">
                  <img class="rounded-circle image-fluid" 
                  src="{{user_account.profile_image.url}}" 
                  alt="avater", 
                  style="max-width: 150px; max-height: 150px;">
                </div>
              </div>

            </div>
            <!-- End of Image -->

            <!-- Start of Data -->
            <div class="col-lg-8 mt-4">
          
                <!-- Check first name -->
                {%if user_account.first_name%}
                <p class="fw-bolder my-3">First Name: <span class="fw-normal"> {{user_account.first_name|capfirst}}</span></p>          
                {%else %}
                    <div class="alert alert-warning my-3" role="alert">
                      First name not provided by user
                    </div>
                {%endif %}
                <!-- End of Check first name -->

                <!-- Check last name -->
                {%if user_account.last_name%}
                <p class="fw-bolder my-3">Last Name: <span class="fw-normal"> {{user_account.last_name|capfirst}}</span></p>          
                {%else %}
                    <div class="alert alert-warning my-3" role="alert">
                      Last name not provided by user
                    </div>
                {%endif %}
                <!-- End of Check last name -->

                <!-- Check username -->
                {%if user_account.username%}
                <p class="fw-bolder my-3">Username: <span class="fw-normal"> {{user_account.username|capfirst}}</span></p>          
                {%else %}
                    <div class="alert alert-warning my-3" role="alert">
                      Username not provided by user
                    </div>
                {%endif %}
                <!-- End username -->

                <!-- Check email -->
                {%if user_account.email%}
                <p class="fw-bolder my-3">Email: <span class="fw-normal"> {{user_account.email|capfirst}}</span></p>          
                {%else %}
                    <div class="alert alert-warning my-3" role="alert">
                      email adddress not provided by user
                    </div>
                {%endif %}
                <!-- End email -->
                  </div>
            <!-- End of Data -->

          </div>   

        </div>

        <div class="card-footer">
          <a class="btn btn-sm btn-primary my-2" href="{% url 'password_change' %}"><i class="fa fa-lock p-0 mx-1" aria-hidden="true"></i>Change Password</a>
          <a class="btn btn-sm btn-secondary text-white my-2" href="{% url 'edit_account' user.id %}"><i class="fa-solid fa-user-pen mx-1" aria-hidden="true"></i>Edit</a>
          <a class="btn btn-sm btn-danger my-2" href="{% url 'delete_account' user.id%}"><i class="fa-solid fa-trash mx-1" aria-hidden="true"></i>Delete</a>
        </div>
      </div>
    </div>
    <!-- End of second column -->
  </div>
  

</div>
<!-- End of Delete Account Form -->



{% endblock%}